.main {
  background-image: url("./background.jpg");
  height: 90vh;
  width: 99vw;
  background-position: fixed;
  background-repeat: none;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
  /* opacity: 0.6; */
}
.kenburns-top {
  -webkit-animation: kenburns-top 8s ease-out infinite alternate both;
  animation: kenburns-top 8s ease-out infinite alternate both;
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
input[type="text"],
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
  border: none;
  /* border-bottom: 1px solid green; */
  /* background: transparent; */
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  padding: 15px;
  border-radius: 100px;
}
input[type="text"]::placeholder {
  color: green !important;
  opacity: 0.3 !important;
}
button {
  color: green !important;
  border-radius: 50px;
  border: none;
  height: 75px;
  width: 75px;
  margin-left: 30px;
}
